# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Testes / Cobertura
coverage/
.nyc_output/

# Builds
dist/
build/

# Arquivos gerados
*.sqlite
*.db
tasks.json